.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e5ebf3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(253, 244, 244);
}

.App-header-Bitcoin-Logo {
  background-color: #eee4e4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header-Eth-Logo {
  background-color: #fbfbff;
  display: flex;
  align-items: center;
  justify-content: right;
}

.App-header-Phone-Logo {
  background-color: #fbfbff;
  display: flex;
  align-items: center;
  justify-content: left;
}

.App-link {
  color: #060542;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1296px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-perspective: 500px;
  perspective: 500px;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.columns {
  position: relative;
  display: flex;
  -webkit-box-align: center;
}

.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.column-1 {
  overflow: visible;
  padding-right: 64px;
}

.w-col {
  position: relative;
  float: right;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.w-col-phone {
  position: relative;
  top: -100px;
  float: right;
  padding-right: 40px;
}

.w-col-6 {
  width: 70%;
}

.heading-label.color-primary {
  font-size: 18px;
  line-height: 28px;
}

.heading-label {
  margin-top: 10px;
  margin-bottom: 25px; 
  font-family: Inter,sans-serif;
  color: #3861fb;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 24px;
}

.h1 {
  font-family: Inter,sans-serif;
  color: #000;
  font-size: 48px;
  line-height: 1px;
  font-weight: 700;
  letter-spacing: -.02em;
  justify-content: left;
  margin-top: 15px;
  margin-bottom: 25px;
}

.h3 {
  font-family: Inter,sans-serif;
  color: black;
  font-size: 48px;
  line-height: 1px;
  font-weight: 700;
  letter-spacing: -.02em;
  justify-content: right;
  margin-bottom: 25px;
}  

div.b {
  text-align: left;
  padding-left: 300px;
}

div.v {
  text-align: right;
  padding-right: 600px;
  margin-top: 130px;
}

div.w {
  text-align: right;
  margin-top: 30px;
  font-size: 28px;
}

div.x {
  text-align: right;
  margin-top: 40px;
  font-size: 28px;
}

div.y {
  width: 5%;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  position: relative;
  margin-top: -220px;
  float: left;
  padding-left: 300px;
  background-color: white;
}

div.a {
  text-align: left;
  margin-top: 30px;
  font-size: 28px;
}

div.c {
  text-align: left;
  margin-top: 40px;
  font-size: 28px;
}

div.d {
  width: 120px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  position: relative;
  margin-top: -230px;
  float: right;
  padding-right: 600px;
  background-color: white;
}

.paragraph {
  display: inline;
  color: #424b5a;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  letter-spacing: -.2px;
}

.h4 {
  display: inline;
  color: #424b5a;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  letter-spacing: -.2px;
  text-align: left;
}

.paragraph-two {
  display: inline;
  color: #0f1013;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  letter-spacing: -.2px;
}

.block.block-first {
  margin-top: 48px;
}

.block {
  height: 30px;
  width: 30px;
}

.price-difference{
  background-color: black;
  height: 140px;
  width: auto;
  margin-top: 130px;
  text-align: left;
  padding-left: 300px;
}

.heading-sell {
  margin-top: 20px;
  margin-bottom: 1px; 
  font-family: Inter,sans-serif;
  color: rgba(224, 28, 28, 0.925);
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

.heading-sell-two {
  margin-top: 1px;
  margin-bottom: 1px; 
  font-family: Inter,sans-serif;
  color: rgba(224, 28, 28, 0.925);
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

.heading-buy {
  margin-top: 1px;
  margin-bottom: 1px; 
  font-family: Inter,sans-serif;
  color: #16c784;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

div.k {
  margin-top: 30px;
}